<footer class="site-footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__brand">
        <h3>{{ site.title }}</h3>
        <p>{{ site.description }}</p>
      </div>

      <!-- <div class="footer__links">
        <div class="footer__column">
          <h4>Services</h4>
          <ul>
            <li>
              <a href="/services/investment-planning/">Investment Planning</a>
            </li>
            <li><a href="/services/asset-management/">Asset Management</a></li>
            <li>
              <a href="/services/financial-literacy/">Financial Literacy</a>
            </li>
          </ul>
        </div>

        <div class="footer__column">
          <h4>Company</h4>
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/journal/">Journal</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </div> -->
    </div>

    <div class="footer__bottom">
      <p>
        &copy; {{ 'now' | date: '%Y' }} {{ site.title }}. All rights reserved.
        <span class="footer__separator">|</span>
        <a href="/brand-kit/" class="footer__link">Brand Kit</a>
        <span class="footer__separator">|</span>
        <span class="footer__build-info">
          Published {{ site.time | date: "%b %d, %Y at %I:%M" }}{{ site.time | date: "%p" | downcase }}
          {% if site.github.build_revision %} ({{ site.github.build_revision | slice: 0, 7 }}){% endif %}
        </span>
      </p>
    </div>
  </div>
</footer>
