{% if project.status == 'stealth' %}
<div class="project-card-wrapper">
  <a href="/projects/{{ project.title | stealth_hash }}/" class="project-card-link project-status-stealth">
    <div class="project-title">Stealth Project: {{ project.title | stealth_hash }}</div>
    <div class="project-description">█████████ ████████████ ███████</div>
  </a>
</div>
{% else %}
<div class="project-card-wrapper">
  <a href="{{ project.url | relative_url }}"
    class="project-card-link project-status-{{ project.status | default: 'active' }}">
    {% if include.show_meta %}
    <div class="project-meta">
      <span class="project-lab">{{ site.data.labs[project.lab].title | upcase }}</span>
      <span class="project-status">{{ project.status | default: 'active' | capitalize }}</span>
    </div>
    {% endif %}
    <div class="project-title">{{ project.title }}</div>
    <div class="project-description">{{ project.description }}</div>
    {% if project.installation_instructions and include.show_install %}
    <div class="project-install">
      <code>{{ project.installation_instructions }}</code>
    </div>
    {% endif %}
  </a>
  <div class="project-links">
    {% if project.repo %}
    <a href="{{ project.repo }}" target="_blank" class="project-github-link" title="View on GitHub">
      <span class="github-icon"></span>
    </a>
    {% endif %}
    {% if project.app_store_url %}
    <a href="{{ project.app_store_url }}" target="_blank" class="project-app-store-link" title="Download on App Store">
       Get
    </a>
    {% endif %}
  </div>
</div>
{% endif %}